/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Ethan Hickman
 * email: hickmaet@oregonstate.edu
 */
header
{
  height: 150px;
  background-color: #000;
  border: 10px solid #000;
}
  .header-image-container
  {
    float:left'
    margin-right: 20px;
  }
  .site-title
  {
    font-size: 75px;
    font-weight: 100;
  }
  .site-title a:hover
  {
    cursor: pointer;
  }
  .site-title a:active
  {
    color: #FFFFFF;
    text-decoration: none;
  }
  #results
  {
    display: flex;
    flex-wrap: wrap;
  }
  #results .result
  {
    width: 335px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    background-color: #FFFFFF;
  }
