/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Ethan Hickman
 * email: hickmaet@oregonstate.edu
 */
body
{
  background-color: #FFFFFF;
  margin: 0;
  width: 0 auto;
  font-family: 'Roboto Slab', serif;
}
